.product {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    animation: mymove 3s;
    animation-fill-mode: forwards;
}
.product:hover{
    box-shadow: 0 2px 5px 0 gray;    
    
}

.product__rating {
    display: flex;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_button {
    background: #FFD814;
    border: 1px solid;
    padding: 5px;
    border-color: #FCD200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    width: 100px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.product_button:hover {
    background-color: hsl(50, 100%, 65%);
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;   
}
.product__title{
    min-height: 40px;

}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }